/* CreatePatient.module.css */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.inputField {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitButton {
  padding: 10px 20px;
  border: 2px solid #dadada;
  border-radius: 5px;
  background-color: #184474;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
