
@import url('../Tests/Components.module.css');

.medications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.medicationsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s;
}

.expanded {
  transform: rotate(180deg);
}


.claimed {
  background-color: rgba(0, 128, 0, 0.3); /* Green with 20% opacity */
  color: black;
  text-align: center;
}

.unclaimed {
  background-color: rgba(255, 0, 0, 0.3); /* Red with 20% opacity */
  color: black;
  text-align: center;
}

.marginBottom {
  margin-bottom: 50px;
}

/* for dimensions for the table */

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refreshButton {
  background-color: var(--primary-blue);
  color: var(--text-white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refreshButton:hover {
  background-color: var(--primary-blue-dark);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.refreshIcon {
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
}

.refreshButton.spinning .refreshIcon {
  animation: spin 0.2s linear 1;
}

.refreshContainer {
  margin-top: -8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.icon {
  pointer-events: none;
}