/* Style for the buttons container */
.buttons-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
  

  /* Targeting buttons inside the .buttons-container */
  .buttons-container button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 25px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline-block */
    font-size: 16px; /* Standard font size */
    margin: 4px 2px; /* Margin for spacing between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .buttons-container button:hover {
    background-color: #45a049; /* Darker shade of green on hover */
  }

  .buttons-container .logout-button {
    background-color: #f44336; /* Red background */
  }

  .buttons-container .logout-button:hover {
    background-color: #da190b; /* Darker shade of red on hover */
  }