.w-full {
  width: 100%;
}

.p-6 {
  padding: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.logout-button {
  padding: 10px 20px;
  border: 2px solid #dadada;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 16px;
}


.login-button {
  padding: 10px 20px;
  border: 2px solid #dadada;
  border-radius: 5px;
  background-color: #184474;
  color: white;
  cursor: pointer;
  font-size: 16px;
}